<div class="post-show-c">

  <div class="user-recent-post">
  <div class="post-inf-box">
  <h2 class="user-post-title">Post : <%= @post.title %> by <%= @user.name %></h2>
  <h3>Comments: <%= @post.comments_counter%>, Likes: <%= @post.like_counter %><h3>
  </div>
  <p class="user-post-text"><%= @post.text %></p>
  </div>

  <div class="post-comments">
  <% @comments.each do |comment|%>
    <h3><%= comment.author.name %><%= comment.text %></h3>
    <% end %>
  </div>

</div>